<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Delete a record</title>
    {# Cargamos la librería #} {% load bootstrap4 %} {# CSS Bootstrap #} {% bootstrap_css %}
</head>

<h1 style="margin: 10px;"> Are you sure you want to delete the record? </h1>

<body>
    <form action="" method="post">
        <div style="padding: 50px;">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete</button>
            <a href="{% url 'index' %}" button class="btn btn-secondary" type="submit">Cancel</a>
        </div>
    </form>
</body>
