<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Monitoring reporter</title>
    {# Cargamos la librería #} {% load bootstrap4 %} {# CSS Bootstrap #} {% bootstrap_css %}
</head>

<br>

<h1 style="margin-left: 10px;"> Monitoring report data</h1>
<br>

<body>
    <div style="padding-left: 50px; padding-right: 50px;">
        <a href="{% url 'create_form' %}" button class="btn btn-success" type="submit">Create</a>
    </div>

    <br><br>

    <div style="padding-left: 50px; padding-right: 50px;">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="text-align: center;">Nº</th>
                        <th scope="col" style="text-align: center;">Date</th>
                        <th scope="col" style="text-align: center;">Energy</th>
                        <th scope="col" style="text-align: center;">Reactive energy</th>
                        <th scope="col" style="text-align: center;">Power</th>
                        <th scope="col" style="text-align: center;">Maximeter</th>
                        <th scope="col" style="text-align: center;">Reactive power</th>
                        <th scope="col" style="text-align: center;">Voltage</th>
                        <th scope="col" style="text-align: center;">Intensity</th>
                        <th scope="col" style="text-align: center;">Power factor</th>
                        <th scope="col" style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                {% for element in read_data %}
                <tbody>
                    <tr>
                        <td style="text-align: center;">{{ element.id }}</td style="text-align: center;">
                        <td style="text-align: center;">{{ element.date }}</td style="text-align: center;">
                        <td style="text-align: center;">{{ element.energy }}</td>
                        <td style="text-align: center;">{{ element.reactive_energy }}</td style="text-align: center;">
                        <td style="text-align: center;">{{ element.power }}</td style="text-align: center;">
                        <td style="text-align: center;">{{ element.maximeter }}</td style="text-align: center;">
                        <td style="text-align: center;">{{ element.reactive_power }}</td style="text-align: center;">
                        <td style="text-align: center;">{{ element.voltage }}</td style="text-align: center;">
                        <td style="text-align: center;">{{ element.intensity }}</td style="text-align: center;">
                        <td style="text-align: center;">{{ element.power_factor }}</td style="text-align: center;">
                        <td>
                            <a href="#" class="btn btn-warning">Edit</a>
                            <a href="#" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</body>